<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyTorch Model Runner</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>OptiMOF</h1>
    <form action="/predict" method="POST" enctype="multipart/form-data">
        <label for="file">Upload Input File:</label>
        <input type="file" id="file" name="file">
        <button type="submit">Run Model</button>
    </form>
</body>
</html>
